dataspace/fineweb/
dataspace/tokenized_data/

*.egg-info
__pycache__

checkpoints/*
!checkpoints/.gitkeep
model/pretrained_models/
!model/pretrained_models/.gitkeep

logs/*.logs
logs/*.txt

model/babyGPT/*.llm
.vscode