# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
.vscode

# Logs
logs/*.log
logs/*.txt

# Data and models
checkpoints/
!checkpoints/.gitkeep
model/pretrained_models/
!model/pretrained_models/.gitkeep

dataspace/fineweb/
dataspace/tokenized_data/

# Packages
*.egg-info/
dist/
build/
